.inputContainer {
    display: flex;
    justify-content: center;
}

.input {
    min-height: 50px;
    max-width: 150px;
    padding: 0 1rem;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: aliceblue;
}

.buttonSubmit {
    min-height: 50px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.buttonSubmit:hover {
    background-color: #413ed0;
}
